<h1 class="text-center">User Data</h1>
<div *ngIf="users ; else nousers">
  <table  class="table table-borderd">
    <tr  class="bg-success">
    <th>Id</th>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Website</th>
    <th>Phone</th>

    </tr>
    <tr *ngFor="let user of users">
      <td> <a [routerLink]="['/user',user.id]">{{user.id}}</a></td>
      <td>{{user.name | uppercase}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email | lowercase }}</td>
      <td>{{user.website  }}</td>
      <td>{{user.phone  }}</td>



    </tr>

  </table>
</div>
<ng-template #nousers>
  <p class="alert alert-danger text-center">{{errorMessage}}</p>
</ng-template>
<pre>
  {{users | json}}
</pre>
