

  <!-- <input style="margin-left: 300px;margin-top: 250px;" type="text" (keyup)="getval($event)">
<h1 style="text-align: center;">{{username}}</h1>
<input type="text" [(ngModel)]="data">
<h1>{{data}}</h1> -->
<div #col class="val"> </div>
<br>
<!-- <select style=" margin: 20px 30px ;" (change)="changebg($event)">
  <option>select colour</option>
  <option *ngFor="let col of colours" >{{col}}</option> -->
<!-- </select> -->
  <select style=" margin: 20px 30px ; color:red"
   [value]="col" #v (change)="changebg(v.value)">
    <option>select colour</option>
    <option *ngFor="let col of colours" >{{col}}</option>

</select>

<button style=" margin:5px"
 class="btn btn-primary"
*ngFor="let col of colours"
 [value]="col"
 #v (click)="changebg(v.value)">{{col}}</button>
<h1>selected colour is {{colourval}}</h1>
<input type="text" [value]="value" #s (keyup)="search(s.value)">
<h1>{{inputdata}}</h1>
<h1 #msg class="text-center"> view children</h1>
<h2 #msg class="text-center">view children</h2>
<!-- passdata  -->
<app-counter #childView></app-counter>
<div>
  <button (click)="inc()">Increment</button>
  <button (click)="dec()">Decrement</button>
  <button (click)="reset()">Reset</button>


</div>
<h3>Counter {{child?.counter}}</h3>

